.blog {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 100px;
}

.blog h3 {
  margin: 0;
  line-height: 16px;
  color: #91171d;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 20px;
}

.blog__picture {
  width: 100%;
}

.blog__picture a {
  line-height: 9px;
  color: #342b2b;
  font-size: 14px;
  letter-spacing: 0.7px;
  padding-right: 190px;
  text-decoration: none;
}

.blog__picture img {
  padding-top: 12px;
}

.blog-discription__first {
  margin: 0;
  color: #342b2b;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 13px;
}

.blog-discription__second {
  width: 240px;
  margin: 0 auto;
  color: #342b2b;
  font-size: 16px;
  padding-bottom: 110px;
}

.blog__after {
  color: #79100b;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #79100b;
  width: 90px;
  margin: 0 auto;
}

.item__third {
  display: flex;
  flex-direction: column;
  height: auto;
}

.slide-third .owl-dots {
  position: absolute;
  bottom: 50px;
  left: 60px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.slide-third .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.slide-third .owl-dots .owl-dot span {
  width: 50px;
  height: 3px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
}

.slide-third .owl-dots .owl-dot.active span,
.slide-third .owl-dots .owl-dot:hover span {
  background: #342b2b;
}

.slide-third .owl-nav button.owl-prev {
  display: none;
}

.slide-third .owl-nav button.owl-next {
  display: none;
}
