.difference {
  background-color: #ffffff;
}

.difference__content h3 {
  margin: 0;
  line-height: 25px;
  color: #91171d;
  font-size: 24px;
}

.difference__discription {
  width: 280px;
  height: 377px;
  color: #342b2b;
  font-size: 16px;
  margin: 0 auto;
}
