.intro {
  position: relative;
  height: 66.8vh;
  border-radius: 2px;
  overflow: hidden;
  background-color: #ece5e1;
}

.intro__header {
  position: relative;
  z-index: 1;
  margin: 0;
  width: 135px;
  color: #342b2b;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  margin-left: 15px;
  margin-top: -70%;
}

.intro__discription a {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #79100b;
  padding-bottom: 5px;
  text-decoration: none;
  border-bottom: 1px solid;
  text-align: left;
  margin-left: 15px;
  margin-top: -70%;
}

.intro__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ece5e1;
  opacity: 0.2;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.intro__content {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}

.page-main__picture {
  position: absolute;
  top: 35%;
  right: 15px;
  transform: translateY(-50%);
}

.intro__toggle {
  position: absolute;
  top: 9px;
  right: 15px;
  display: flex;
}

.intro__toggle a {
  cursor: pointer;
  padding-right: 30px;
}

.slide-one .owl-nav button.owl-prev {
  display: none;
}

.slide-one .owl-nav button.owl-next {
  display: none;
}

@media (min-width: @tablet-width) {

}

@media (min-width: @desktop-width) {

}

